extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hello everyone! Welcome!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p This page is to showcase some of the web-development projects I have worked on at Treehouse!

    
    <h2><a href="https://sites.google.com/view/map-portfolio/home" target="_blank" style="color: red">Also click here to visit my GIS map portfolio site!</a></h2>
    

  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text
      each project in projects       
        a.cell(href=`/projects/${project.id}`)
          h3= project.project_name
          img.thumbnail(src=`${project.image_urls[0]}`,alt='thumbnail picture')
        


